

.wrap { 
    width: 700px;
}

.num_tasks { 
    
    width: 340px;
    margin-left:40px;
    font-family: Poppins-medium;
    font-size: 25px;
    
    
}

.create { 
    height: 40px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.add { 
    
    height: 30px;
    width: 80px;
    border-radius: 30px;
    border: solid #884CB2 1px;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: white;
    font-family: Poppins-light;
}
.wraping { 
    width: 700px;
}

.task_title { 
    width: 700px;
    margin-left: 50px;
    font-family: Poppins-light;
    font-size: 15px;
    
}

ul { 
    width: 700px;
}
li{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 700px;
    margin-top: 20px;
}
.box { 
    height: 300px;
    overflow-y: scroll;

}

.wrap::after { 
    margin-left:150px;
    margin-top: 30px;
    content: '';
    display: block;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    height: 2px;
    width: 100px;
}
   

.tit { 
     display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin-top: 20px;
    
    margin-left: 65px;
    font-family: Poppins-light;
    font-size: 13px;
    width: 415px;
    
   
}

.status-false { 
    height: 20px;
    width: 90px;
    border-radius: 30px;
    border:solid #F2994A;
    background: #F2994A;
    opacity: 0.7;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Poppins-light;
    font-size: 10px;
  

}

.status-true{ 
    height: 20px;
    width: 90px;
    border-radius: 30px;
    border:solid #884CB2 1px;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    opacity: 0.7;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Poppins-light;
    font-size: 10px;
}

.trash { 
    width: 22px;
    height: 22px;
    opacity: 0.7;
    margin-left: 10px;;
}

.adding { 
    display: flex;
    flex-direction: row;
    margin-top:30px;
    height: 50px;
    margin-left: 40px;
   
    
}

.add_input{
    width: 280px;
    height: 30px;
    margin-right: 20px;
    border-radius: 30px;
    border:solid 2px whitesmoke;
    padding-left: 10px;
}

.item-todo {
   
   padding-left: 20px;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: left;
    margin-top: 15px;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins-light;
  }

 
  .item-delete { 
     display: flex;
     flex-direction: row;
     justify-content: center;
  }

  